* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #14021d;
  padding: 20px;
  font-family:Trebuchet Ms, Avenir, Helvetica, Arial, sans-serif;
}

#portfolio {
}

#root {
  height: 100%;
}

#header {
  margin-bottom: 100px;
}




#sidebar {
  border: 2px solid white;
  background-color: #060606;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px 30px;
  padding-bottom: 100px;
}

#img-profile {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: -100px;
}

.name-user {
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #696868;
  margin-bottom: 10px;
  background-color: #242424;
  padding: 10px 30px;
  border-radius: 4px;
}

#icons-area {
  display: flex;
  gap: 10px;
}

.btn-social {
  padding: 10px;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #a00093;
  background-color: #242424;
  cursor: pointer;
  margin: 10px 0;
}

#infouser-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

#list-infouser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
  gap: 10px;
  padding: 10px 20px;
}

.user-info {
  border-bottom: 2px solid #6e6c6c;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.label-info {
  font-size: 15px;
  color: #3b3b3b;
}

.info {
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin-top: 5px;
}

.icon {
  background-color: #170027;
  border: none;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.icon-email { color: aqua; } 
.icon-phone {color: #a00093;} 
.icon-loc { color: rgb(185, 80, 176)}

.btn-download {
  background: linear-gradient(to right, #a00093, #bb417e);
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  letter-spacing: 1px;
  margin-top: 80px;
}

